<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>License plate detector by Trung</title>
  <link rel="stylesheet" href="./static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<form method="POST" enctype="multipart/form-data">
  <input type="file" name="file" accept="image/*"/>
  <p>Drag your files here or click in this area.</p>
  <button type="submit">DETECT</button>
</form>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./static/script.js"></script>

</body>
</html>
